[Definition]
Header=True
Trailer=True
SeparateHeader=False
SeparateTrailer=False
DefaultHeaderPath=/Users/shreyas/Documents/Eligibility_Automation/THD/Header
DefaultTrailerPath=/Users/shreyas/Documents/Eligibility_Automation/THD/Trailer
RecordDeclaration=/Users/shreyas/Documents/Eligibility_Automation/THD/THDRecordDeclaration.csv
OutputFilePath=/Users/shreyas/Documents/Eligibility_Automation/THD/TestData
SSNFieldNumber=73
SubscriberSSNFieldNumber=1
RelationshipCodeNumber=71
EmployeeFieldValue=01
EndingPosition=False
paddingfields=196,164