[Definition]
Header=True
Trailer=True
separator=|
OutputFileFormat=CSV
DefaultHeader=False
DefaultTrailer=False
DefaultHeaderPath=//Users//shreyas//Documents//Eligibility_Automation//Header.csv
DefaultTrailerPath=//Users//shreyas//Documents//Eligibility_Automation//Trailer.csv
RecordDeclaration=//Users//shreyas//Documents//Eligibility_Automation//RecordDeclaration.csv
OutputFilePath=//Users//shreyas//Documents//Eligibility_Automation//TestData
SSNFieldNumber=4
SubscriberSSNFieldNumber=2
RelationshipCodeNumber=9

